html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  padding: .4em .75em .3em;
  border-radius: 8px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  background-color: #333;
  color: #fff;
  border-width: 3px;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
  border-width: 3px;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border: 3px solid #666;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
  border-width: 3px;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
